<a href="https://colab.research.google.com/github/Oscar-Hernandez-creator/ODBH_EDD_1358_220/blob/master/12_oct_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#Diccionarios (continuacion)
cliente_banco = {
    "id" : 1,
    "Nombres" :("Juan", "Antonio"),
    "Paterno" : "Garcia",
    "Materno" : "Perez",
    "Telefonos" :{
        "casa":5576458183,
        "Celular":5541236978,
        "Trabajo":5547896321,
    },
    "Activo": True,
    "Balance":234567.89,
    "Targetas": ({"Tipo":"Debito","Saldo":250000},{"Tipo":"Credito","Saldo":3500})
    
}
print(cliente_banco)

#cliente_banco["Balance"] = cliente_banco["Balance"]  -1000.98
cliente_banco["Balance"] -=1000.98
print(cliente_banco)

cliente_banco["Targetas"] = ({"Tipo": "Debito","Saldo",300000},
                             {"Tipo":"Credito","Nivel": "Oro","Saldo":500000})
print(cliente_banco)

cliente_banco["Direccion"] = {"Calle": "Rancho Seco","num":23}
print(cliente_banco)
cliente_banco.pop("Targetas")
print(cliente_banco)

{'id': 1, 'Nombres': ('Juan', 'Antonio'), 'Paterno': 'Garcia', 'Materno': 'Perez', 'Telefonos': {'casa': 5576458183, 'Celular': 5541236978, 'Trabajo': 5547896321}, 'Activo': True, 'Balance': 234567.89, 'Targetas': ({'Tipo': 'Debito', 'Saldo': 250000}, {'Tipo': 'Credito', 'Saldo': 3500})}
{'id': 1, 'Nombres': ('Juan', 'Antonio'), 'Paterno': 'Garcia', 'Materno': 'Perez', 'Telefonos': {'casa': 5576458183, 'Celular': 5541236978, 'Trabajo': 5547896321}, 'Activo': True, 'Balance': 233566.91, 'Targetas': ({'Tipo': 'Debito', 'Saldo': 250000}, {'Tipo': 'Credito', 'Saldo': 3500})}

In [17]:
llaves = cliente_banco.keys()
print(llaves)
print(type(llaves))
for x in llaves:
  print(x)

valores = cliente_banco.values()
for v in valores:
  print(v)

pares = cliente_banco.items()
print(pares)

for elem in pares:
  print(f" {elem[0]} = {elem[1]} " )

dict_keys(['id', 'Nombres', 'Paterno', 'Materno', 'Telefonos', 'Activo', 'Balance', 'Targetas'])
<class 'dict_keys'>
id
Nombres
Paterno
Materno
Telefonos
Activo
Balance
Targetas
1
('Juan', 'Antonio')
Garcia
Perez
{'casa': 5576458183, 'Celular': 5541236978, 'Trabajo': 5547896321}
True
233566.91
({'Tipo': 'Debito', 'Saldo': 250000}, {'Tipo': 'Credito', 'Saldo': 3500})
dict_items([('id', 1), ('Nombres', ('Juan', 'Antonio')), ('Paterno', 'Garcia'), ('Materno', 'Perez'), ('Telefonos', {'casa': 5576458183, 'Celular': 5541236978, 'Trabajo': 5547896321}), ('Activo', True), ('Balance', 233566.91), ('Targetas', ({'Tipo': 'Debito', 'Saldo': 250000}, {'Tipo': 'Credito', 'Saldo': 3500}))])
 id = 1
 Nombres = ('Juan', 'Antonio')
 Paterno = Garcia
 Materno = Perez
 Telefonos = {'casa': 5576458183, 'Celular': 5541236978, 'Trabajo': 5547896321}
 Activo = True
 Balance = 233566.91
 Targetas = ({'Tipo': 'Debito', 'Saldo': 250000}, {'Tipo': 'Credito', 'Saldo': 3500})

In [18]:
fruta = {"Nombre": "Manzana","Color":"Rojo","Estado":"Chihuahua"}
otras_caracteristicas = {"Vitamina":"D"}
fruta.update(otras_caracteristicas)
print(fruta)

{'Nombre': 'Manzana', 'Color': 'Rojo', 'Estado': 'Chihuahua', 'Vitamina': 'D'}

#Funciones
-Recibe de 0 a n argumentos de entrada
-recibe solo un valor aun que ese valor sea Nonne (Nulo)
-tiene un nombre unico en el contextro
-solo se pueden hacer dos cosas con las funciones
    -definirla
    -llamarla

In [21]:
def suma(a,b):
    return a+b

def saludar():
    print("Hola,¿como estas?")
    return None

x = 10
y = 20
c = suma(x,y)

print(c)
saludar()

30
Hola,¿como estas?

None y las funciones 
Aprovechar el uso de none en paso de parametros

In [29]:
def calcular (base,veces):
    if base != None:
       resultado = base * veces
    else:
        resultado = "Desconocido"
    return resultado



print(calcular(4,3))
print(calcular(None,3))

12
Desconocido